<div class="img-box">
  <div class="img-toolbar">
    <button type="button"><span class="icon icon-enlarge"></span></button>
  </div>
  <a href="javascript:;">
    <img [src]="imgSrc.url">
  </a>
</div>
<div>
  <p class="img-title">{{imgSrc.name}}</p>
  <div>
    <div class="input-group">
      <input #input type="text" class="form-control input-sm" [value]="imgSrc.url">
      <div class="input-addon">
        <button (click)="copy(input)" class="icon icon-copy btn btn-default btn-sm"></button>
      </div>
    </div>
  </div>
</div>
