<div class="container-fluid clearfix">
    <h3>文章列表</h3>
    <ul class="row list-unstyled">
        <li class="text-overflow col-sm-4" *ngFor="let item of articleList">
            <a (click)="onSelected(item.id)" href="javascript:;">{{item.title}}</a>
        </li>
    </ul>
    <div class="text-center">
        <ui-pagination class="pagination-sm"
                       (change)="change($event)"
                       [currentPage]="currentPage"
                       [pages]="pages"></ui-pagination>
    </div>
</div>